{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %} {% block beforeContent %} {% endblock %} {%
block content %}

<div id="wrapper" class="direction-ltr">
  <main role="main" id="content" class="publication" lang="en">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <span class="govuk-caption-xl gem-c-title__context">Form</span>
          <h1 class="govuk-heading-xl">
            CA5400D form: Application<br />
            for a National Insurance number
          </h1>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
          Only fill in this form if the Department for Work and Pensions (DWP)
          or the Department for Communities (DfC) asked you to do so.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds responsive-bottom-margin">
        <div class="govuk-panel govuk-panel--confirmation"
        style="background-color: #1d70b8; height:100px; text-align:left;>
        <p style="color: white">
          Applies to:
          <span style="font-weight: bold"
            >England, Scotland, Wales and Northern Ireland</span
          >
        </p>
        <p></p>
      </div>

      <br /><br />

      <!-- 
<p class="govuk-body-l"><b>Select the correct form from the 3 below, depending on the country you are in and the language you prefer.</b></p>-->

      <br /><br />

      <section id="documents">
        <h3 class="govuk-heading-m">Documents</h3>

        <div
          class="gem-c-govspeak govuk-govspeak direction-ltr"
          data-module="govspeak"
        >
          <section class="attachment hosted-externally" id="attachment_4188986">
            <div class="attachment-thumb">
              <table style="border: hidden">
                <tr style="border: hidden">
                  <td>
                    <img
                      src="/public/images/thumbnail_form-01.png"
                      width="110"
                      display="inline-block"
                      height="160"
                      ;
                    />
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="govuk-!-font-size-27">
                    <a href="template_CA5400D.html"
                      >Apply for a National Insurance number in England,
                      Scotland and Wales (English) – CA5400D</a
                    ><br /><br />
                    <p class="govuk-body govuk-!-font-size-14">
                      PDF, 114KB, 2 pages
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </section>
        </div>

        <br /><br />
        <div
          class="gem-c-govspeak govuk-govspeak direction-ltr"
          data-module="govspeak"
        >
          <section class="attachment hosted-externally" id="attachment_4188986">
            <div class="attachment-thumb">
              <table style="border: hidden">
                <tr style="border: hidden">
                  <td>
                    <img
                      src="/public/images/thumbnail_form_welsh-01.png"
                      width="110"
                      display="inline-block"
                      height="160"
                      ;
                    />
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="govuk-!-font-size-27">
                    <a href="template_CA5400D.html"
                      >Apply for a National Insurance number in England,
                      Scotland and Wales (Welsh) – CA5400DW</a
                    ><br /><br />
                    <p class="govuk-body govuk-!-font-size-14">
                      PDF, 142KB, 2 pages
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </section>
        </div>
      </section>
      <br /><br />
      <div
        class="gem-c-govspeak govuk-govspeak direction-ltr"
        data-module="govspeak"
      >
        <section class="attachment hosted-externally" id="attachment_4188986">
          <div class="attachment-thumb">
            <table style="border: hidden">
              <tr style="border: hidden">
                <td>
                  <img
                    src="/public/images/thumbnail_form_NI-01.png"
                    width="110"
                    display="inline-block"
                    height="160"
                    ;
                  />
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="govuk-!-font-size-27">
                  <a href="template_CA5400D.html"
                    >Apply for a National Insurance number in Northern Ireland –
                    CA5400DN</a
                  ><br /><br />
                  <p class="govuk-body govuk-!-font-size-14">
                    PDF, 93KB, 2 pages
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </section>
      </div>

      <br /><br /><br />

      <section id="details">
        <h3 class="govuk-heading-m">Details</h3>
        <div
          class="gem-c-govspeak govuk-govspeak direction-ltr"
          data-module="govspeak"
        >
          <div class="govspeak">
            <p>You should only fill in this CA5400D form:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>if DWP or DfC told you to do so</li>
              <li>after you have applied for a National Insurance number</li>
            </ul>

            <p>
              Find out how to
              <a href="#">apply for a National Insurance number</a>.
            </p>
          </div>
        </div>
      </section>

      <br /><br />

      <section id="form">
        <h3 class="govuk-heading-m">Complete the CA5400D form</h3>
        <div
          class="gem-c-govspeak govuk-govspeak direction-ltr"
          data-module="govspeak"
        >
          <div class="govspeak">
            <p>
              Print the relevant form and fill it in using a black pen. Use
              BLOCK CAPITALS.
            </p>

            <p>
              You also need to send us
              <span style="font-weight: bold">black and white </span>
              photocopies of your identity documents and any other documents we
              have asked you for.
            </p>

            <p>
              Post this form and your photocopied documents to one of the
              following addresses:
            </p>

            <br />
            <ul class="app-task-list__items">
              <li>
                <p>
                  <span style="font-weight: bold"
                    >If you are in England, Scotland or Wales</span
                  >
                </p>
                <div class="govuk-inset-text">
                  Glasgow NINo Centre <br />
                  Mail Handling Site A<br />
                  Wolverhampton<br />
                  WV98 1BR
                </div>
              </li>
            </ul>

            <ul class="app-task-list__items">
              <li>
                <p>
                  <span style="font-weight: bold">
                    If you are in Northern Ireland</span
                  >
                </p>
                <div class="govuk-inset-text">
                  <p>
                    NINo Allocation <br />
                    Mail Opening Unit <br />
                    PO Box 42 <br />
                    Limavady <br />
                    BT49 4AN
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <br /><br />
      <section id="formats">
        <h3 class="govuk-heading-m">Alternative Formats</h3>
        <div
          class="gem-c-govspeak govuk-govspeak direction-ltr"
          data-module="govspeak"
        >
          <div class="govspeak">
            <p>
              If you need information on this service in a different format
              (such as accessible PDF, large print, easy read, audio recording
              or braille), contact us using the telephone / textphone number at
              the bottom of this page.
            </p>
          </div>
        </div>
      </section>

      <br />

      <br />
    </div>
  </main>
</div>

{% endblock %}
