{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You now need to send us photocopies of your identity documents
    </h1>

    <p class="govuk-body">
      We have received your application for a National Insurance number.
    </p>
    <br />

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text"
        ><span class="govuk-warning-text__assistive">Warning</span> We cannot
        make a decision about your application until we receive photocopies of
        your identity documents
      </strong>
    </div>

    <br />
    <h2 class="govuk-heading-l">What you need to do next</h2>
    <br />

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Make a note of
          this reference number:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <h3 class="govuk-heading-m">B0048572</h3>
            <p>
              This is the reference number for your application.<br />
              It is not your National Insurance number.
            </p>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Make a black and
          white photocopy of <span style="font-weight: bold">one </span>of the
          following documents:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                If you are using your passport to apply for a National Insurance
                number, photocopy the page that includes your photograph and
                your signature
              </li>
              <li>
                If you are using your national identity card to apply for a
                National Insurance number, photocopy both sides of the card
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Generate a new
          EU Settlement Scheme share code for your application.
        </h2>
        <ul class="app-task-list__items">
          <li>
            <p>A share code:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>consists of 9 digits, for example: A1234567Z</li>
              <li>
                is different from your EU Settlement Scheme application
                reference number
              </li>
              <li>is different from your National Insurance number</li>
            </ul>
            <p>
              Share codes are only valid for 30 days. Generate a new code for
              this application and then send it to us immediately, following
              steps 4-7 below.
            </p>
            <p>To generate a share code:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                go to
                <a
                  href="https://www.gov.uk/view-prove-immigration-status"
                  target="_blank"
                  >www.gov.uk/view-prove-immigration-status</a
                >
                - this will open <br />in a new tab
              </li>
              <li>
                follow the instructions to view and prove your immigration
                status
              </li>
              <li>
                when you see
                <span style="font-weight: bold"
                  >what do you need this share code for</span
                >, select <br /><span style="font-weight: bold"
                  >something else</span
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Fill in the
          <a href="CA5400_form.html">CA5400D</a> form.
        </h2>
        <ul class="app-task-list__items">
          <li>
            <p>Print the form and fill it in with a pen. Use BLOCK CAPITALS.</p>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Write your
          application reference number (B0048572) on page one of the form.
        </h2>
        <ul class="app-task-list__items">
          <li></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Write your new
          share code on page two.
        </h2>
        <ul class="app-task-list__items">
          <li></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">7. </span>Add the correct
          postage and send it to:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <div class="govuk-inset-text">
              Glasgow NINO Centre <br />
              Mail Handling Site A<br />
              Wolverhampton<br />
              WV98 1BR
            </div>
          </li>
        </ul>
      </li>
    </ol>

    <br /><br />

    <p class="govuk-body">
      If we approve your application, we will send you a National Insurance
      number. We aim to post this to you within 4 weeks of receiving your
      photocopied identity documents.
    </p>

    <p class="govuk-body">
      You can start work and get paid without a National Insurance number if you
      can prove you can work in the UK. Your employer might ask for proof of
      your right to work in the UK.
    </p>

    <br /><br />

    <h2 class="app-task-list__section">Download this page</h2>
    <p class="govuk-body">
      You can download a copy of this page to print or save on your device.
    </p>

    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Download
    </button>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <br /><br />

    <p class="govuk-body">
      <strong
        >Help us improve the Apply for a National Insurance number
        service</strong
      >
    </p>
    <p class="govuk-body govuk-!-padding-bottom-7">
      <a
        class="govuk-link"
        href="https://getinvolved.dwp.gov.uk/digital/ba7cd86f/"
        target="_blank"
      >
        Take a short survey</a
      >
    </p>
  </div>
</div>

{% endblock %}
