{% extends "layouts/main.html" %} {% block pageTitle %}
  Question page
{% endblock %} {% block beforeContent
%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a National Insurance number</h1>



    <p class+="govuk-body">Contents</p>

        <ol class="govuk-list govuk-list--number">
      <li>Who can apply for a National Insurance number</li>
      <li> <a href="index_howto">How to apply</a></li>
    </ol>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-l">Who can apply for a National Insurance number</h2>

<p class+="govuk-body">You can apply for a National Insurance number if you:</p>


    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>live in the UK</li>
      <li>have the right to work in the UK</li>
      <li>are working, looking for work or have an offer to start work</li>
    </ul>

    <p>You can start work without a National Insurance number if you can prove you have the <a href="https://www.gov.uk/prove-right-to-work" target="_blank">right to work in the UK</a>.</p>
    <p>If you already have a National Insurance number, you do not need to apply for a new one, even if your personal details change. Your National Insurance number remains the same for life.</p>


    <div class="govuk-inset-text">
      <p class="govuk-body">This guide and the service are also available <a href="">in Welsh (Cymraeg)</a>.</p>
    </div>
<br><br>


    <p>You do not need a National Insurance number to start an application for:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>benefits</li>
      <li>a Student Loan</li>
      <li>the EU settlement scheme</li>
    </ul>
  
    
    <p>If you do need a National Insurance number to complete your application, you’ll be contacted and told how to get one.</p>


<br/><br/>

<h3  class="govuk-heading-m">If you’ve lost your National Insurance number</h3>

      <p>Check <a href="https://www.gov.uk/lost-national-insurance-number" target="_blank">how to find a lost National Insurance number</a>.</p>



<h3  class="govuk-heading-m">If you’re a UK resident aged 19 or under</h3>

      <p>You’ll normally be sent a National Insurance number in the 3 months before your 16th birthday if both the following are true:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>you live in the UK</li>
      <li>a parent or guardian has filled in a <a href="https://www.gov.uk/child-benefit" target="_blank">Child Benefit claim</a> form for you.</li>
    </ul>

<br/>

<p class="govuk-body govuk-!-font-weight-bold">If you did not get a National Insurance number</p>

<p>If you’re aged 16 to 19 and you did not get a National Insurance number what you do depends on if a Child Benefit claim was made.</p>

<p><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/national-insurance-numbers" target="_blank">Contact HM Revenue and Customs (HMRC) <a/>if your parent or guardian filled in a Child Benefit claim form for you, or you’re not sure. You may already have a National Insurance record.</p>

<p>Apply for a National Insurance number online if your parent or guardian did not fill in a Child Benefit claim form for you.</p>

<br/>

<h3  class="govuk-heading-m">If you have a biometric residence permit (BRP)</h3>

<p>If you have a BRP, you might have a National Insurance number already - it will be printed on the back of your BRP if you do.</p>

<p>If you do not have a National Insurance number, you must apply for one if you plan to work. You can only apply when you’re in the UK.</p>

<h3  class="govuk-heading-m">If you’ve already applied for a National Insurance number</h3>


<p>It can take up to 8 weeks to get your National Insurance number.</p>

<p>You can <a href="#">call the application helpline</a> if:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>you applied more than 8 weeks ago</li>
      <li>you’ve moved house since you applied</li>
      <li>your personal details have changed since you applied</li>
    </ul>

<p>If you have an application reference number, have it ready when you call. You will have received this at the end of your application and in the email you received.</p>



<br/><br/>

<p class="govuk-body govuk-!-font-weight-bold"><a href="index">Next</a></p>
<p class="govuk-body"><a href="index_howto">How to apply</a></p>



<br/><br/><br/><br/>

<!-- 


      <h2 class="govuk-heading-l">Eligibility</h2>

      <p class="govuk-body">You can apply for a National Insurance number if you live in the UK and have the right to work in the UK.</p>
      <p class="govuk-body">You must also be looking for work or have an offer to start work in the UK. If you have already started working you can still apply.</p>


    <br><br>


      <h2 class="govuk-heading-l">When you may not need to apply</h2>
      <p class="govuk-body">Make sure you’re eligible before you apply for a National Insurance number. If you already have one you will not be sent a new one.</p>
      <p class="govuk-body">You do not need to apply if you:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>have lost your National Insurance number  </a></li>
        <li>are a UK resident aged 19 or under</li>
        <li>have a biometric residence permit which has a National Insurance number printed on it</li>
        <li>are applying for benefits or a student loan</li>
      </ul>

      <br>
      <p class="govuk-body"><strong>If you’ve lost your National Insurance number</strong></p>

      <p class="govuk-body">Check <a href="https://www.gov.uk/lost-national-insurance-number">how to find a lost National Insurance number</a>.</p>
    <br>
     
         <p class="govuk-body"><strong>If you’re a UK resident aged 19 or under</strong></p>
       <p class="govuk-body">You’ll normally be sent a National Insurance number automatically, in the 3 months before your 16th birthday, if both the following are true:</p>
    
     
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>you live in the UK</a></li>
        <li>a parent has filled in a <a href="https://www.gov.uk/child-benefit">Child Benefit<a/> claim form for you</li>
      </ul>
    
     
         <p class="govuk-body">If you’re aged 16 to 19 and did not get one, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/national-insurance-numbers">call HM Revenue and Customs</a>.</p>


<br>
   
          <p class="govuk-body"><strong>If you have a biometric residence permit (BRP)</p>
          <p class="govuk-body">If you have a <a href="https://www.gov.uk/biometric-residence-permits">biometric residence permit (BRP)</a>, you might have a National Insurance number already - it will be printed on the back of your BRP if you do.</p>
          <p class="govuk-body">If you do not have a National Insurance number, you must apply for one if you plan to work. You can only apply when you’re in the UK.</p>

   
<br>
 

          <p class="govuk-body"><strong>If you’re applying for benefits or a student loan</strong></p>
         <p class="govuk-body">You do not need a National Insurance number to apply for benefits or a student loan. You will receive one if your application for benefits or a student loan is successful.</p>
 


<br><br>

       <h2 class="govuk-heading-l">How to apply</h2>
      <p class="govuk-body">You can apply for a National Insurance number if you live in the UK and have the <a href="https://www.gov.uk/prove-right-to-work">right to work</a>.</p>
      <p class="govuk-body">To get a National Insurance number you need to:</p>
 

<ol class="govuk-list govuk-list--number">
  <li>Apply online</li>
  <li>Prove your identity. After you apply, you’ll get an email telling you how to prove your identity. You may need to post photocopies of your documents or attend an appointment.</li>
</ol>



<div class="govuk-inset-text">
  It can take up to 16 weeks for you to get your National Insurance number after you have proven your identity.
</div>

<br>

<p class="govuk-body"><strong>Apply online</strong></p>

 <p class="govuk-body">If you have the following documents, use them when you apply:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a passport from any country</li>
  <li>a biometric residence permit (BRP)</li>
</ul>

 <p class="govuk-body">You can also use a national identity card from:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a country in the EU</li>
  <li>Norway</li>
  <li>Liechtenstein</li>
  <li>Switzerland</li>
</ul>


 <p class="govuk-body">You can still apply if you do not have any of these documents but you may need to attend an appointment to prove your identity.</p>



<br><br>
<a href="apply.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Apply
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
<br><br>





<br><br>
      <h2 class="govuk-heading-l">Get help with your application</h2>

     <br>
      <p> <strong>National Insurance number application helpline (England, Scotland and Wales) </strong></p>
      <p class="govuk-body">
        Telephone: 0800 141 2079<br>
        Textphone: 0800 141 2438<br>
        <a href="https://main.signvideo.me/app/8/10954">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br> 
        Monday to Friday, 8am to 5pm<br>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
        <br><br>


     <br>
      <p> <strong>Welsh language National Insurance number application helpline (England, Scotland and Wales) </strong></p>
      <p class="govuk-body">
        Telephone: 0800 141 2349<br>
        Textphone: 0800 141 2438<br>
        Monday to Friday, 8am to 6pm<br>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
        <br><br>

     
      <p> <strong>National Insurance number application helpline (Northern Ireland)</strong></p>
      <p class="govuk-body">
        Telephone: 0800 587 0024<br>
        Textphone: 0800 587 0194<br>
        <a href="https://main.signvideo.me/app/8/10954">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br> 
        Monday to Friday, 9am to 4pm<br>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
        <br><br>

      <p> <strong>British Sign Language (BSL) video relay service</strong></p>
      <p><a href="">Watch a video to check you can use the service.</a></p>
      <p><a href="">Go to the video relay service.</a></p>     
      <p class="govuk-body">
       Monday to Friday, 8am to 5pm (England, Scotland and Wales)<br>
Monday to Friday, 9am to 4pm (Northern Ireland)


        </p>
        <br><br>

-->


  </div>
</div>






{% endblock %}
