{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Are you working or looking for work in the UK?
    </h1>

    <form class="form" action="name" method="post">
      <div class="govuk-form-group govuk-!-padding-bottom-4">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <p>
              You can only get a National Insurance number through this service
              if you are working or looking for work.
            </p>
            <br />

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="plan-to-work-1"
              name="plan-to-work" type="radio" value="Working" {{
              checked("plan-to-work", "Working") }}>
              <label class="govuk-label govuk-radios__label" for="work-looking">
                Yes, I am working or have an offer to start work in the UK
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="plan-to-work-2"
              name="plan-to-work" type="radio" value="Looking for work" {{
              checked("plan-to-work", "Looking for work") }}>
              <label class="govuk-label govuk-radios__label" for="work-looking">
                Yes, I am looking for work in the UK
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="plan-to-work-3"
              name="plan-to-work" type="radio" value="Not working and not
              looking for work" {{ checked("plan-to-work", "Not working and not
              looking for work") }}>
              <label class="govuk-label govuk-radios__label" for="work-neither">
                No, I am not working or looking for work in the UK
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>
    </form>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">Select an option to continue</p>
      </div>
    </details>
  </div>
</div>

{% endblock %}
