{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Do you have a passport?</h1>

    <p class="govuk-body">
      Tell us if you have a passport that matches the nationality you selected
      previously.
    </p>

    <form class="form" action="passport-answer" method="post">
      <div class="govuk-form-group">
        <fieldset
          class="govuk-fieldset"
          aria-describedby="how-contacted-conditional-hint"
        >
          <div
            class="govuk-radios govuk-radios--conditional"
            data-module="govuk-radios"
          >
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="passport-conditional-4"
                name="passport-document"
                type="radio"
                value="Yes"
                data-aria-controls="passport-doc"
              />
              <label class="govuk-label govuk-radios__label" for="passport-doc">
                Yes
              </label>
            </div>

            <div
              class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="passport-doc"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="passport-doc">
                  Enter your passport number
                </label>
                <input
                  class="govuk-input govuk-!-width-one-third"
                  id="passport-doc"
                  name="passport-doc"
                  type="passport-doc"
                />
              </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="passport-conditional3"
                name="passport-document"
                value="No"
                type="radio"
                data-aria-controls="xx"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="passport-conditional2"
              >
                No
              </label>
            </div>

            <div
              class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="xx"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="xx">
                  <p>
                    If you do not have a passport, you will need to prove your
                    identity in a different way, which will take longer. We will
                    tell you what to do at the end of your online application.
                  </p></label
                >
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details govuk-!-padding-bottom-4">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have dual nationality / citizenship
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            Enter the details on the passport you are using to apply for a
            National Insurance number. If you have a British passport, you
            should use this to apply.
          </p>
        </div>
      </details>

      <button class="govuk-button">Continue</button>
    </form>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 1
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">Select yes if you have a passport</p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 2
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">Enter your passport number</p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 3
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">
          Your passport number can only contain letters and numbers
        </p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 3
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">
          Your passport number must be between 1 and 20 characters
        </p>
      </div>
    </details>
  </div>
</div>

{% endblock %}
