{% extends "layouts/main.html" %} {% block pageTitle %}
  Question page
{% endblock %} {% block beforeContent
%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}



<div id="wrapper" class="direction-ltr">
<main role="main" id="content" class="publication" lang="en">

<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
          <div>
            <span class="govuk-caption-xl gem-c-title__context">Form</span>
            <h1 class="govuk-heading-xl">CA5400NI form: Application<br/> for a National Insurance number</h1>
          </div>
        </div>





     <div class="govuk-grid-column-two-thirds">
         <p class="govuk-body-l">Only fill in this form if the Department for Work and <br/>Pensions (DWP) have asked you to do so. </p>
     </div>



</div>










<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-bottom-margin">

    <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8; height:100px">
      <p style="color:white">Applies to: <span style="font-weight:bold">Northern Ireland</span><p>
    </div>
<br/><br/>
    <section id="documents">
      <h3 class="govuk-heading-m">Documents</h3>

<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

        <section class="attachment hosted-externally" id="attachment_4188986">
  <div class="attachment-thumb">
          <table style="border:hidden;">
            <tr style="border:hidden;">
               <td><img src="./image1.png" width="84" display:"inline-block" height="120"></td>
               <td></td>
               <td></td>
               <td></td>
               <td class="govuk-!-font-size-27"><a href="template_CA5400NI.html">Application for a National insurance number (CA5400NI)</a><br/><br/>
                                                <p class="govuk-body govuk-!-font-size-14">PDF,  127KB , 2 pages</td>
            </tr>

          </table>
</div>

        </section>

        </div>

          </section>


<br/><br/>



<br/>


  <section id="details">
      <h3 class="govuk-heading-m">Details</h3>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

          <div class="govspeak">
            <p>You should only fill in this CA5400NI form:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>if DWP told you to do so</li>
                <li>after you have applied for a National Insurance number</li>
            </ul>

            <p>  Find out how to <a href="#">apply for a National Insurance number</a>.</p>

          </div>

      </div>
  </section>



<br/><br/>

<section id="form">
    <h3 class="govuk-heading-m">Completing this form</h3>
    <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

        <div class="govspeak">

          <p>Print the form and fill it in with a pen. Use BLOCK CAPITALS.</p>

          <p>You also need to send us black and white photocopies of your identity documents and any other documents we have asked you for.</p>

          <p>Post this form and your photocopied documents to the address we gave you at the end of your online application for a National Insurance number.</p>

        </div>

    </div>
</section>

<br/><br/>
  <section id="formats">
      <h3 class="govuk-heading-m">Alternative Formats</h3>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

          <div class="govspeak">
            <p>If you need information on this service in a different format (such as accessible PDF, large print, easy read, audio recording or braille), contact us using the telephone / textphone number at the bottom of this page.</p>
          </div>

      </div>
  </section>



</div>





</main>



</div>




{% endblock %}
