{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You don’t need to apply again</h1>

    <p class="govuk-body">
      We aim to contact you within 4 weeks to tell you if we have approved your
      application for a National Insurance number.
    </p>

    <p class="govuk-body">
      You can start work and get paid without a National Insurance number if you
      can prove you can work in the UK. Your employer might ask for proof of
      your right to work in the UK.
    </p>

    <br /><br />
    <br /><br />
    <br /><br />
  </div>
</div>

{% endblock %}
