{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You can apply again</h1>

    <p class="govuk-body">
      Select Continue to start a new application for a National Insurance
      number.
    </p>

    <br /><br />
    <br /><a href="plan-to-work"
      ><button class="govuk-button">Continue</button></a
    ><br />
    <br /><br />
  </div>
</div>

{% endblock %}

