{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a National Insurance number</h1>

    <p class+="govuk-body">Contents</p>

    <ol class="govuk-list govuk-list--number">
      <li><a href="index">Who can apply for a National Insurance number</a></li>
      <li>How to apply</li>
    </ol>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <h2 class="govuk-heading-l">How to apply</h2>

    <p class+="govuk-body">
      To get a National Insurance number you need to apply online. You'll need
      to prove your identity when you apply.
    </p>

    <h3 class="govuk-heading-m">What documents you’ll need</h3>

    <p class+="govuk-body">
      If you have any of the following documents, get them all ready before you
      start:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>a passport from any country</li>
      <li>a biometric residence permit (BRP)</li>
      <li>
        a national identity card from an EU country or from Norway,
        Liechtenstein or Switzerland
      </li>
    </ul>

    <p>
      You might need to enter information from one or more of these documents.
    </p>
    <p>
      You can still apply if you do not have any of these documents, but you may
      need to attend an appointment in person to prove your identity.
    </p>

    <h3 class="govuk-heading-m">Prove your identity</h3>

    <p>If you can, you'll need to take and upload:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
      <li>a photo of yourself holding your passport</li>
      <li>photos of other identity documents</li>
    </ul>

    <p>You can use a smartphone, tablet or a digital camera.</p>
    <p>
      You’ll be told how to take the photos and what they must look like during
      the application process.
    </p>

    <p>You can ask someone to take the photos for you.</p>

    <h4 class="govuk-heading-m">If you cannot upload photos</h4>
    <p>You can still apply online but your application will take longer.</p>

    <p>
      You may need to attend an appointment or post photocopies of your
      documents. You’ll get an email telling you what to do after you’ve
      submitted your application.
    </p>

    <h3 class="govuk-heading-m">Apply online</h3>

    <a
      href="duplicate_apply.html"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
      data-module="govuk-button"
    >
      Apply
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg
    ></a>
    <br /><br />
    <h3 class="govuk-heading-m">After you apply</h3>
    <p>
      After you apply you’ll get an email with your application reference
      number. The email will tell you if you need to provide more proof of your
      identity.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        It can take up to 4 weeks for you to get your National Insurance number
        after you have proven your identity.
      </p>
    </div>
    <br /><br />

    <h3 class="govuk-heading-l">Get help with your application</h3>

    <br />
    <p>
      <strong
        >National Insurance number application helpline (England, Scotland and
        Wales)
      </strong>
    </p>
    <p class="govuk-body">
      Telephone: 0800 141 2079<br />
      Textphone: 0800 141 2438<br />
      <a href="https://main.signvideo.me/app/8/10954">Video relay service</a>
      for British Sign Language (BSL) users -
      <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY"
        >check you can use the service</a
      ><br />
      Monday to Friday, 8am to 5pm<br />
      <a href="https://www.gov.uk/call-charges" class="govuk-link"
        >Find out about call charges</a
      >
    </p>
    <br /><br />

    <br />
    <p>
      <strong
        >Welsh language National Insurance number application helpline (England,
        Scotland and Wales)
      </strong>
    </p>
    <p class="govuk-body">
      Telephone: 0800 141 2349<br />
      Textphone: 0800 141 2438<br />
      Monday to Friday, 8am to 6pm<br />
      <a href="https://www.gov.uk/call-charges" class="govuk-link"
        >Find out about call charges</a
      >
    </p>
    <br /><br />

    <p>
      <strong
        >National Insurance number application helpline (Northern
        Ireland)</strong
      >
    </p>
    <p class="govuk-body">
      Telephone: 0800 587 0024<br />
      Textphone: 0800 587 0194<br />
      <a href="https://main.signvideo.me/app/8/10954">Video relay service</a>
      for British Sign Language (BSL) users -
      <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY"
        >check you can use the service</a
      ><br />
      Monday to Friday, 9am to 4pm<br />
      <a href="https://www.gov.uk/call-charges" class="govuk-link"
        >Find out about call charges</a
      >
    </p>
    <br /><br />

    <p><strong>British Sign Language (BSL) video relay service</strong></p>
    <p><a href="">Watch a video to check you can use the service.</a></p>
    <p><a href="">Go to the video relay service.</a></p>
    <p class="govuk-body">
      Monday to Friday, 8am to 5pm (England, Scotland and Wales)<br />
      Monday to Friday, 9am to 4pm (Northern Ireland)
    </p>
    <br /><br />
  </div>
</div>

{% endblock %}
