{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is your status under the EU Settlement Scheme?
    </h1>

    <form class="form" action="settlement-answer2" method="post">
      <div class="govuk-form-group govuk-!-padding-bottom-4">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="settlement-answer"
              name="settlement-answer02" type="radio" value="Settled" {{
              checked("plan-to-work", "Settled") }}>
              <label class="govuk-label govuk-radios__label" for="settlement">
                I have settled status
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="settlement-answer"
              name="settlement-answer02" type="radio" value="Pre-settled" {{
              checked("plan-to-work", "Pre-Settled") }}>
              <label class="govuk-label govuk-radios__label" for="settlement">
                I have pre-settled status
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="settlement-answer"
              name="settlement-answer02" type="radio" value="Awaiting Decision"
              {{ checked("plan-to-work", "Awaiting Decision") }}>
              <label class="govuk-label govuk-radios__label" for="settlement">
                I am waiting for a decision about my EU settled or pre-settled
                status
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="settlement-answer"
              name="settlement-answer02" type="radio" value="No Resolution Yet"
              {{ checked("plan-to-work", "No Resolution Yet") }}>
              <label class="govuk-label govuk-radios__label" for="settlement">
                The UK Home Office refused my application for settled or
                pre-settled status
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>
    </form>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">
          Tell us about your EU Settlement Scheme status
        </p>
      </div>
    </details>
  </div>
</div>

{% endblock %}
