{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<div id="wrapper" class="direction-ltr">
  <div class="gem-c-contextual-breadcrumbs">
    <div
      class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile"
      data-module="track-click"
    >
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a
            data-track-category="homeLinkClicked"
            data-track-action="homeBreadcrumb"
            data-track-label=""
            data-track-options="{}"
            class="govuk-breadcrumbs__link"
            href="/"
            >Home</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            class="govuk-breadcrumbs__link"
            href="/topic/benefits-credits/universal-credit"
            >Apply for a NINO</a
          >
        </li>
      </ol>
    </div>
  </div>
  {% endblock %} {% block content %}

  <main role="main" id="content" class="publication" lang="en">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <span class="govuk-caption-xl gem-c-title__context">Form</span>
          <h1 class="govuk-heading-xl">
            CA5400D form: Application<br />
            for a National Insurance number
          </h1>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <nav
          role="navigation"
          class="gem-c-translation-nav gem-c-translation-nav"
          aria-label="Translations"
        >
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-font-size-16">English</td>
                <td class="govuk-table__cell govuk-!-font-size-16">
                  <a href="#">Cymraeg</a>
                </td>
              </tr>
            </tbody>
          </table>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
          Only fill in this form if the Department for Work and <br />Pensions
          (DWP) have asked you to do so.
        </p>
      </div>
    </div>

    <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
    />

    <div class="govuk-grid-row">
      <div class="metadata-logo-wrapper">
        <div class="govuk-grid-column-two-thirds metadata-column">
          <p class="govuk-body govuk-!-font-size-16">
            Published 29 January 2014 <br />Last updated 13 May 2020 —
            <a href="#" class="app-c-published-dates__history-link govuk-link"
              >see all updates</a
            >
            <br />From:
            <a
              class="govuk-link"
              href="/government/organisations/department-for-work-pensions"
              >Department for Work and Pensions</a
            >
          </p>
        </div>
        <div class="govuk-grid-column-one-third"></div>
      </div>
    </div>

    <br /><br />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds responsive-bottom-margin">
        <div
          class="govuk-panel govuk-panel--confirmation"
          style="background-color: #1d70b8; height: 100px"
        >
          <p style="color: white">
            Applies to:
            <span style="font-weight: bold"
              >England, Scotland, Wales, Northern Ireland</span
            >
          </p>
          <p></p>
        </div>

        <br /><br />
        <section id="documents">
          <h3 class="govuk-heading-m">Documents</h3>

          <div
            class="gem-c-govspeak govuk-govspeak direction-ltr"
            data-module="govspeak"
          >
            <section
              class="attachment hosted-externally"
              id="attachment_4188986"
            >
              <div class="attachment-thumb">
                <table style="border: hidden">
                  <tr style="border: hidden">
                    <td>
                      <img src="./image1.png" width="84" display:"inline-block"
                      height="120">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="govuk-!-font-size-27">
                      <a href="template_CA5400D.html"
                        >Application for a National insurance number
                        (CA5400D)</a
                      ><br /><br />
                      <p class="govuk-body govuk-!-font-size-14">
                        PDF, 127KB , 2 pages
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </section>
          </div>
        </section>

        <br /><br />

        <br />

        <section id="details">
          <h3 class="govuk-heading-m">Details</h3>
          <div
            class="gem-c-govspeak govuk-govspeak direction-ltr"
            data-module="govspeak"
          >
            <div class="govspeak">
              <p>You should only fill in this CA5400D form:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>if DWP told you to do so</li>
                <li>after you have applied for a National Insurance number</li>
              </ul>

              <p>
                Find out how to
                <a href="#">apply for a National Insurance number</a>.
              </p>
            </div>
          </div>
        </section>

        <br /><br />

        <section id="form">
          <h3 class="govuk-heading-m">Completing this form</h3>
          <div
            class="gem-c-govspeak govuk-govspeak direction-ltr"
            data-module="govspeak"
          >
            <div class="govspeak">
              <p>
                You can either print the form and fill it in using a pen or you
                can:
              </p>

              <ol class="govuk-list govuk-list--number">
                <li>Save a copy on your computer or laptop.</li>
                <li>Open it in Adobe Acrobat Reader version 11 or later.</li>
                <li>Fill it in on screen.</li>
                <li>Print the completed form.</li>
              </ol>

              <p>
                You also need to send us black and white photocopies of your
                identity documents and any other documents we have asked you
                for.
              </p>

              <p>
                Post this form and your photocopied documents to the address we
                gave you at the end of your online application for a National
                Insurance number.
              </p>
            </div>
          </div>
        </section>

        <br /><br />
        <section id="formats">
          <h3 class="govuk-heading-m">Alternative Formats</h3>
          <div
            class="gem-c-govspeak govuk-govspeak direction-ltr"
            data-module="govspeak"
          >
            <div class="govspeak">
              <p>
                If you need information on this service in a different format
                (such as accessible PDF, large print, easy read, audio recording
                or braille), contact us using the telephone / textphone number
                at the bottom of this page.
              </p>
            </div>
          </div>
        </section>

        <hr
          class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
        />

        <div>
          <p class="govuk-body govuk-!-font-size-16">
            Published 29 January 2014 <br />Last updated 13 May 2020
            <a href="#">+&nbsp;show all updates</a>
          </p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="gem-c-contextual-sidebar">
          <a
            class="govuk-link gem-c-contextual-sidebar__brexit-cta"
            data-module="track-click"
            data-track-category="relatedLinkClicked"
            data-track-action="1.0 Transition"
            data-track-label="/transition"
            data-track-dimension="Check how the new Brexit rules affect you"
            data-track-dimension-index="29"
            lang="en"
            href="/transition"
          >
            <h2 class="gem-c-contextual-sidebar__brexit-heading">Brexit</h2>
            <p class="gem-c-contextual-sidebar__brexit-text">
              Check how the new Brexit rules affect you
            </p>
          </a>

          <hr class="govuk-section-break govuk-section-break--visible" />

          <br />
          <div class="gem-c-related-navigation">
            <h4 class="govuk-heading-s">Related content</h4>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#"
                  >Alternative Payment Arrangements</a
                >
              </li>
              <li><a class="govuk-link" href="#">Service charges</a></li>
              <li>
                <a class="govuk-link" href="#"
                  >Deductions from benefit: how creditors can apply</a
                >
              </li>
              <li>
                <a class="govuk-link" href="#"
                  >How the deductions from benefit scheme works: guidance for
                  creditors or suppliers</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
    />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-contextual-footer">
          <div class="gem-c-related-navigation">
            <nav
              role="navigation"
              class="gem-c-related-navigation__nav-section"
              aria-labelledby="related-nav-topics-38366690"
              data-module="gem-toggle"
            >
              <h4 class="govuk-heading-s">Explore the Topic</h4>

              <p class="govuk-body govuk-!-font-weight-bold govuk-body-s">
                <a href="#">Apply for a NINO</a>
              </p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
