{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Do you have a passport?</h1>

    <form class="form" action="passport-answer" method="post">
      <div class="govuk-form-group">
        <fieldset
          class="govuk-fieldset"
          aria-describedby="how-contacted-conditional-hint"
        >
          <div
            class="govuk-radios govuk-radios--conditional"
            data-module="govuk-radios"
          >
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="how-contacted-conditional-2"
                name="passport-question"
                type="radio"
                value="Yes"
                data-aria-controls="passport"
              />
              <label class="govuk-label govuk-radios__label" for="passport-yes">
                Yes
              </label>
            </div>
            <div
              class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="passport"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="passport">
                  Enter your passport number
                </label>
                <input
                  class="govuk-input govuk-!-width-one-third"
                  id="passport"
                  type="passport"
                />
              </div>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="how-contacted-conditional-3"
                name="passport-question"
                type="radio"
                value="No"
                data-aria-controls="conditional-how-contacted-conditional-3"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="how-contacted-conditional-3"
              >
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>
    </form>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 1
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">Select yes if you have a passport</p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 2
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">You must enter your passport number</p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 3
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">
          Your passport number must only contain letters and numbers
        </p>
      </div>
    </details>

    <details class="govuk-details govuk-!-padding-bottom-4">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" style="color: #ff0000">
          Error message 4
        </span>
      </summary>
      <div class="govuk-details__text">
        <p style="color: #ff0000">
          Your passport number must be between 1 and 20 characters
        </p>
      </div>
    </details>
  </div>
</div>

{% endblock %}
