{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><strong>To:</strong> {{ data['email-address'] }}</p>
    <p>
      <strong>Subject: </strong> Your application for a National Insurance
      number
    </p>
    <br /><br />
    <p>Dear {{ data['given-names'] }} {{ data['family-name'] }},</p>

    <p class="govuk-body">
      We have received your application for a National Insurance number.
    </p>
    <p class="govuk-body">
      You now need to send us photocopies of your identity documents
    </p>
    <br />

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text"
        ><span class="govuk-warning-text__assistive">Warning</span> We cannot
        make a decision about your application until we receive these
        photocopies</strong
      >
    </div>

    <br />
    <h2 class="govuk-heading-l">What you need to do next</h2>
    <br />

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Make a note of
          your application reference number:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <h3 class="govuk-heading-m">B0048572</h3>
            <p>
              This is the reference number for your application.<br />
              It is not your National Insurance number.
            </p>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Make a black and
          white photocopy of the page of your passport that includes your
          photograph and your signature.
        </h2>
        <ul class="app-task-list__items">
          <li></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Make a black and
          white photocopy of one of the following documents:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>both sides of your Biometric Residence Permit (BRP) or</li>
              <li>your most recent UK entry clearance visa</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Print the
          <a href="CA5400_form.html">CA5400DN</a> form.
        </h2>
        <ul class="app-task-list__items">
          <li>
            Note that your application reference number (B0048572) is entered
            automatically on page 1 of the form.
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Fill in the rest
          of the form with a black pen using BLOCK CAPITALS.
        </h2>
        <ul class="app-task-list__items">
          <li></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Put the
          completed CA5400DN form and your 2 photocopied documents in an
          envelope.
        </h2>
        <ul class="app-task-list__items">
          <li></li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">7. </span>Add the correct
          postage and send it to:
        </h2>
        <ul class="app-task-list__items">
          <li>
            <div class="govuk-inset-text">
              NINo Allocation <br />
              Mail Opening Unit<br />
              PO Box 42<br />
              Limavady<br />
              BT49 4AN
            </div>
          </li>
        </ul>
      </li>
    </ol>

    <br /><br />
    <p class="govuk-body">
      We aim to contact you within 16 weeks of receiving your photocopied
      identity documents to tell you if we have approved your application.
    </p>
    <p class="govuk-body">
      <strong
        >We cannot give you an update on your application before the end of this
        16-week period.
      </strong>
    </p>
    <p class="govuk-body">
      We are working hard to process applications that have been delayed because
      of the coronavirus (COVID-19) pandemic. We will review your application as
      soon as we can.
    </p>
    <p class="govuk-body">
      You can start work and get paid without a National Insurance number if you
      can prove you can work in the UK. Your employer might ask for proof of
      your right to work in the UK.
    </p>
    <br /><br />

    <p><strong>Get help with your application </strong></p>

    <p class="govuk-body">
      Telephone: 0800 587 0024<br />
      Textphone: 0800 587 0194<br />
      Monday to Friday, 9am to 4pm<br />
      Find out about call charges here:
      <a href="https://www.gov.uk/call-charges" class="govuk-link"
        >https://www.gov.uk/call-charges</a
      >
    </p>

    <br />
    <br />

    <p class="govuk-body">Yours sincerely,</p>

    <p class="govuk-body">
      Office Manager <br />

      Apply for a National Insurance number
    </p>

    <hr
      class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
    />
    <p>
      Please do not reply to this message. Text messages (SMS) or emails will
      always be clearly marked as from the Department for Communities (DfC) and
      will never ask you to give (or click a link to give) personal or financial
      details. <br /><br />If you are unsure whether a text message (SMS) or
      email is from DfC: report the suspicious message via
      <a href="https://www.nidirect.gov.uk/campaigns/scamwiseni"
        >https://www.nidirect.gov.uk/campaigns/scamwiseni</a
      >
      or contact your local Jobs & Benefits Office immediately.
    </p>
    {% endblock %}
  </div>
</div>
