{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Thank you for your application for a National Insurance number
    </h1>

    <p class="govuk-body">
      We have received your application for a National Insurance number.
    </p>
    <br />
    <p class="govuk-body">
      <strong>Your application reference number is:</strong>
    </p>

    <h3 class="govuk-heading-m">B0048572</h3>
    <br />
    <p>
      If you gave us your email address during your application, we have also
      sent your reference number by email.
    </p>

    <p>
      If you need to contact us about your application, you must give us this
      reference number. Check whether you received an email from us or make a
      note of your reference number before you close this tab.
    </p>

    <br />
    <br />

    <h1 class="govuk-heading-m">What happens next</h1>

    <p class="govuk-body">
      We aim to contact you within 16 weeks to tell you if we have approved your
      application.
    </p>

    <p class="govuk-body">
      We cannot give you an update on your application before the end of this
      16-week period.
    </p>

    <p class="govuk-body">
      We are working hard to process applications that have been delayed because
      of the coronavirus (COVID-19) pandemic. We will review your application as
      soon as we can.
    </p>

    <p class="govuk-body">
      You can start work and get paid without a National Insurance number if you
      can prove you can work in the UK. Your employer might ask for proof of
      your right to work in the UK.
    </p>
    <br />
    <br />

    <p class="govuk-body">
      <strong
        >Help us improve the Apply for a National Insurance number
        service</strong
      >
    </p>
    <p class="govuk-body govuk-!-padding-bottom-7">
      <a
        class="govuk-link"
        href="https://getinvolved.dwp.gov.uk/digital/ba7cd86f/"
        target="_blank"
      >
        Take a short survey</a
      >
    </p>

    <br /><br />
    <a href="confirmation_green">Go to confirmation page - Version B</a>
  </div>
</div>

{% endblock %}
