{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Call us again to find out what to do</h1>

    <p class="govuk-body">
      We are very busy at the moment and are receiving a high volume of calls.
      Please try to call us again during our quieter times, which are usually
      first thing in the morning or at the end of the day.
    </p>

    <p class="govuk-body">
      If you have your application reference number, have it ready when you
      call.
    </p>

    <br /><br />

    <h2 class="govuk-heading-m">After you’ve called us</h2>

    <p class="govuk-body">
      When you’ve spoken to us,
      <a href="duplicate_2b"> what you do next</a> depends on whether we told
      you to apply again.
    </p>
    <br /><br />
    <br /><br />

    <br /><br />
    <br /><br />
  </div>
</div>

{% endblock %}
