{% extends "layouts/main.html" %} {% block pageTitle %}
  Question page
{% endblock %} {% block beforeContent
%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}



<div id="wrapper" class="direction-ltr">
<main role="main" id="content" class="publication" lang="en">

<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
          <div>
            <span class="govuk-caption-xl gem-c-title__context">Form</span>
            <h1 class="govuk-heading-xl">CA5400D SUPPLEMENTARY FORM: Apply for<br/> for a National Insurance number</h1>
          </div>
      
      
      
      
            <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>You cannot use this form to apply for a National Insurance number. To apply for a National Insurance number, go to <a href="https://www.gov.uk/apply-national-insurance-number" target="_blank">https://www.gov.uk/apply-national-insurance-number</a></strong>
      </div>
      
      
      
      </div>





     <div class="govuk-grid-column-two-thirds">
         <p class="govuk-body-l">Only fill in one of these forms if: </p>
          <ul class="app-task-list__items">
            <li>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>you have completed <a href="https://www.gov.uk/apply-national-insurance-number" target="_blank">an online application for a National Insurance number</a></li>
                <li><strong>AND</strong> the Department for Work and Pensions (DWP) or the Department for Communities (DfC) asked you to send an immigration status share code and / or <strong>black and white photocopies</strong> of any documents </li>
                </ul>
            </li>
         </ul> 
       
      </div>



</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-bottom-margin">

<br/>

<p class="govuk-body-l">Choose one of the forms from the list below.</p>
    <section id="documents">
      <h3 class="govuk-heading-m">Documents</h3>


     <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
        <section class="attachment hosted-externally" id="attachment_4188986">
          <div class="attachment-thumb">
          <table style="border:hidden;">
            <tr style="border:hidden;">
               <td><img src="/public/images/thumbnail_form-01.png" width="110" display="inline-block" height="160";></td>
               <td></td>
               <td></td>
               <td></td>
               <td class="govuk-!-font-size-27"><a href="template_CA5400D.html">Apply for a National Insurance number in England, Scotland and Wales (English) – CA5400D</a><br/><br/>
                                                <p class="govuk-body govuk-!-font-size-14">PDF,  114KB, 2 pages</td>
            </tr>
           </table>
         </div>
       </section>
     </div>

    <br/><br/>
     <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
        <section class="attachment hosted-externally" id="attachment_4188986">
          <div class="attachment-thumb">
          <table style="border:hidden;">
            <tr style="border:hidden;">
               <td><img src="/public/images/thumbnail_form_welsh-01.png" width="110" display="inline-block" height="160";></td>
               <td></td>
               <td></td>
               <td></td>
               <td class="govuk-!-font-size-27"><a href="template_CA5400D.html">Apply for a National Insurance number in England, Scotland and Wales (Welsh) – CA5400DW</a><br/><br/>
                                                <p class="govuk-body govuk-!-font-size-14">PDF,  142KB, 2 pages</td>
            </tr>
           </table>
         </div>
       </section>
     </div>
   </section>
    <br/><br/>
   <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
      <section class="attachment hosted-externally" id="attachment_4188986">
        <div class="attachment-thumb">
        <table style="border:hidden;">
          <tr style="border:hidden;">
             <td><img src="/public/images/thumbnail_form_NI-01.png" width="110" display="inline-block" height="160";></td>
             <td></td>
             <td></td>
             <td></td>
             <td class="govuk-!-font-size-27"><a href="template_CA5400D.html">Apply for a National Insurance number in Northern Ireland – CA5400DN</a><br/><br/>
                                              <p class="govuk-body govuk-!-font-size-14">PDF,  93KB, 2 pages</td>
          </tr>
         </table>
       </div>
     </section>
   </div>


<br/>



<br/><br/>

  <section id="form">
      <h3 class="govuk-heading-m">Complete the CA5400D form</h3>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

          <div class="govspeak">

            <p>Print the relevant form and fill it in using a black pen. Use CAPITAL LETTERS.</p>

            <p>You also need to send us <span style="font-weight:bold">black and white </span> photocopies of your identity documents and any other documents we have asked you for.</p>

            <p>Post this form and your photocopied documents to one of the following addresses:</p>

<br/>
  <ul class="app-task-list__items">
    <li><p> <span style="font-weight:bold">If you are in England, Scotland or Wales</span></p>
      <div class="govuk-inset-text">


           Glasgow NINo Centre <br/>
           Mail Handling Site A<br/>
           Wolverhampton<br/>
           WV98 1BR

      </div>
    </li>

  </ul>


  <ul class="app-task-list__items">
    <li><p> <span style="font-weight:bold">	If you are in Northern Ireland</span></p>
      <div class="govuk-inset-text">

        <p>NINo Allocation <br>
        Mail Opening Unit <br>
        PO Box 42 <br>
        Limavady <br>
        BT49 4AN</p>


      </div>
    </li>

  </ul>







          </div>

      </div>
  </section>

<br/><br/>
  <section id="formats">
      <h3 class="govuk-heading-m">Alternative Formats</h3>
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">

          <div class="govspeak">
            <p>If you need information on this service in a different format (such as accessible PDF, large print, easy read, audio recording or braille), contact us using the telephone / textphone number at the bottom of this page.</p>
          </div>

      </div>
  </section>


  <br/>

  <br/>


</div>





</main>



</div>




{% endblock %}
