{% extends "layouts/main.html" %} {% block pageTitle %}
  Question page
{% endblock %} {% block beforeContent
%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You now need to make an appointment to see us</h1>

      <p class="govuk-body">We have received your application for a National Insurance number.</p>

      <p class="govuk-body">If you gave us your email address during your application, we will send you the information on this page by email.</p>
 
      <p class="govuk-body">Check whether you received an email from us or make a note of your reference number before you close this tab.</p>


      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span> We cannot make a decision about your application until you attend an appointment and show us your identity documents.</strong>
      </div>



            <br>
                  <h2 class="govuk-heading-l">What you need to do next</h2>
            <br>



            <ol class="app-task-list">
                    <li>
                      <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">1. </span> Make a note of your application reference number:
                      </h2>
                      <ul class="app-task-list__items">
                        <li>

                          <h3 class="govuk-heading-m">B0048572</h3>
                          <p>This is the reference number for your application. It is not your National Insurance number.</p>

                        </li>

                      </ul>
                    </li>

                    <li>
                      <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">2. </span>Please phone us on the number below to make an appointment:
                      </h2>
                      <ul class="app-task-list__items">
                        <li>
                          <div class="govuk-inset-text">

                            <p class="govuk-body ">
                            Telephone: 0800 587 0024<br>
                            Textphone: 0800 587 0194<br>
                            Monday to Friday, 9am to 4pm<br>
                          <a href="https://www.gov.uk/call-charges"  class="govuk-link">Find out about call charges</a></p>

                          </div>
                        </li>

                      </ul>
                    </li>


                    <li>
                      <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">3. </span>Go to your appointment so we can check your identity documents.
                      </h2>
                      <ul class="app-task-list__items">
                        <li>
                         <p class="govuk-body">When you come to your appointment, you must wear a face covering unless you have a reason for not wearing one in line with government guidance in <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-face-coverings" target="_blank">Northern Ireland</a>.</p>
                          <p class="govuk-body">Do not attend your appointment if you:</p>
                              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                               <li>have symptoms of Coronavirus (COVID-19)</li>
                               <li>have been in contact with someone who has tested positive for COVID-19</li>
                               <li>are following government guidance to self-isolate, including after entering the UK from abroad</li>
                               <li>have been contacted by the NHS and advised to stay at home</li>                                                             
                              </ul>

                              <p class="govuk-body">For more information read the government guidance for Northern Ireland on self-isolating and staying at home: <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-contact-tracing" target="_blank">https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-contact-tracing</a></p>
                              <p class="govuk-body">If you need to postpone your appointment, call us on the number above. We will cancel and rebook it for you.</p>

                        </li>

                      </ul>
                    </li>

                      </ul>
                    </li>


      </ol>



      

      <br/><br/>
      <p class="govuk-body">We aim to contact you within 16 weeks of your appointment to tell you if we have approved your application. </p>
      <p class="govuk-body"><strong>We cannot give you an update on your application before the end of this 16-week period.</strong></p>
      <p class="govuk-body">We are working hard to process applications that have been delayed because of the coronavirus (COVID-19) pandemic. We will review your application as soon as we can.</p>
      <p class="govuk-body">You can start work and get paid without a National Insurance number if you can prove you can work in the UK. Your employer might ask for proof of your right to work in the UK.</p>
      <br/><br/>



      <!--
        <h2 class="app-task-list__section">
            Download this page </h2>
            <p class="govuk-body">You can download a copy of this page to print or save on your device.</p>


        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Download
        </button>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <br><br>  -->


              <p class="govuk-body "><strong>Help us improve the Apply for a National Insurance number service</strong>
              <p class="govuk-body govuk-!-padding-bottom-7"><a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/ba7cd86f/" target="_blank"> Take a short survey</a></p>

            </div>
          </div>



      {% endblock %}
