{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">List of Confirmation Pages</h1>

    <p class="govuk-body"><b>EUSS</b></p>
    <p class="govuk-body">
      <a href="confirmation_GB_Postal_EUSS" target="_blank"
        >Confirmation GB Postal EUSS</a
      >
      / <a href="email_GB_Postal_EUSS" target="_blank">Email GB Postal EUSS</a>
    </p>

    <p class="govuk-body">
      <a href="confirmation_NI_Postal_EUSS" target="_blank"
        >Confirmation NI Postal EUSS</a
      >
      / <a href="email_NI_Postal_EUSS" target="_blank">Email NI Postal EUSS</a>
    </p>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <p class="govuk-body"><b>BRP</b></p>

    <p class="govuk-body">
      <a href="confirmation_GB_Postal_BRP" target="_blank"
        >Confirmation GB Postal BRP</a
      >
      / <a href="email_GB_Postal_BRP" target="_blank">Email GB Postal BRP</a>
    </p>

    <p class="govuk-body">
      <a href="confirmation_NI_Postal_BRP" target="_blank"
        >Confirmation NI Postal BRP</a
      >
      / <a href="email_NI_Postal_BRP" target="_blank">Email NI Postal BRP</a>
    </p>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <p class="govuk-body"><b>Postal UK</b></p>

    <p class="govuk-body">
      <a href="confirmation_GB_Postal_UK" target="_blank"
        >Confirmation GB Postal UK</a
      >
      / <a href="email_GB_Postal_UK" target="_blank">Email GB Postal UK</a>
    </p>

    <p class="govuk-body">
      <a href="confirmation_NI_Postal_UK" target="_blank"
        >Confirmation NI Postal UK</a
      >
      / <a href="email_NI_Postal_UK" target="_blank">Email NI Postal UK</a>
    </p>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <p class="govuk-body"><b>Serco</b></p>
    <p class="govuk-body">
      <a href="confirmation_GB_Serco" target="_blank">Confirmation GB Serco</a>
      / <a href="email_GB_Serco" target="_blank">Email GB Serco</a>
    </p>

    <p class="govuk-body">
      <a href="confirmation_NI_apptco" target="_blank">Confirmation NI Serco</a>
      / <a href="email_NI_Serco" target="_blank">Email NI Serco</a>
    </p>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <p class="govuk-body"><b>Visa</b></p>
    <p class="govuk-body">
      <a href="confirmation_GB_Postal_visa" target="_blank"
        >Confirmation GB Visa</a
      >
      / <a href="email_GB_Postal_visa" target="_blank">Email GB Serco</a>
    </p>
  </div>
</div>

{% endblock %}
