{% extends "layouts/main.html" %} {% block pageTitle %}
  Question page
{% endblock %} {% block beforeContent
%}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl afn-small-margin">Where should we send your letters?</h1>



      <form class="form" action="address-correspondence-results" method="post">



      <form class="form" action="address-results" method="post">

        <p>Enter a UK postcode to search for your address.</p>
<br/>
        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper"><label class="govuk-label" for="address">Postcode</label></h3>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"  value="WS13 6DA">
        </div>
<br>
        <details class="govuk-details govuk-!-padding-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with postcodes
            </span>
          </summary>
          <div class="govuk-details__text">
            A UK postcode is the last part of your address and is made up of letters and numbers (for example NE98 1YX).
          </div>
        </details>

        <details class="govuk-details govuk-!-padding-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I'd like you to send letters to an address in the Republic of Ireland
            </span>
          </summary>
          <div class="govuk-details__text">
      If you want us to send letters to an address in the Republic of Ireland and you work in Northern Ireland, you cannot apply for a National Insurance number online.<br><br>Call one of the Northern Ireland helpline numbers at the bottom of the screen and we'll tell you how to apply.
          </div>
        </details>



        <button class="govuk-button">Continue</button>

      </form>



    </div>
  </div>

{% endblock %}
