{% extends "layouts/main.html" %} {% block pageTitle %} Apply for National Insurance Number {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Dear, {{ data['given-names'] }} {{ data['family-name'] }}</p>

    <p class="govuk-body">
      We have received your online application for a National Insurance number.
    </p>

    <p class="govuk-body">
      <strong
        >We can not make a decision about your application until you attend an
        appointment.</strong
      >
    </p>

    <p class="govuk-body">
      If you have not yet made an appointment with us, phone us on the number
      below. You will need to give us this reference number:
    </p>

    <br />
    <div class="govuk-inset-text">
      <p class="govuk-body-l govuk-!-font-weight-bold">B0048572</p>
    </div>
    <br />

    <p class="govuk-body">
      Make a note of this reference number and keep it safe. This is not your
      National Insurance number.
    </p>

    <p class="govuk-body">
      <br />
      Telephone: 0800 678 3696<br />
      Textphone: 0800 141 2438 <br />
      Monday to Friday, 8am to 6pm<br />
      <a href="https://www.gov.uk/call-charges" class="govuk-link"
        >Find out about call charges</a
      >
    </p>

    <br />
    <p class="govuk-body">
      If we approve your application, we will send you a National Insurance
      number within 4 weeks of your appointment.
    </p>
    <br />

    <p class="govuk-body">
      You can start work and get paid without a National Insurance number if you
      can prove you can work in the UK. Your employer might ask for proof of
      your right to work in the UK.
    </p>
    <br />

    <p class="govuk-body">You can also apply for benefits or a student loan.</p>
    <br />

    <p class="govuk-body">Yours sincerely,</p>
    <br />

    <p class="govuk-body">Office Manager</p>

    <p class="govuk-body">Apply for a National Insurance number</p>
  </div>
</div>

{% endblock %}
